<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
	<meta charset="utf-8">
	<title>Pacific Northwest Plant Finder</title>
<style>
h1 {
	text-align: center;
	font-size: 52px;
}
h3 {
	text-align: center;
}
body {
	background-color: #8FBC8F;
	font-family: 'Alata';
	font-size:  22px;
}
p {
	text-align: center;
}
img {
	max-width:  100%;
	height:  auto;
	border-radius: 20px;
	border:  6px solid #555;
	
}
form {
	text-align: center;
}
button {
	font-family: 'Alata';
	font-size: 16px;
}

</style>
</head>
<body>
<p>
{% if node.name %}
	<h1>Pacific Northwest Plant Finder</h1>
	<h3>Congratulations! You have identified the {{node.name}}.</h3>
	<form action="https://pnw-plant-finder.uw.r.appspot.com/">
		<button type="submit">Start Over</button>
	</form>
	<p><img style="top:450px;height:500px;width:500px;" src="{{node.name_img.strip('')}}"></p>
{% else %}
	<h1>Pacific Northwest Plant Finder</h1>
	<h3>Please click on the picture that most closely resembles your plant.</h3>
	<br><br>
	<p>{{ node.left_attribute }}</p>
	<a href="?node_id={{node.left_index}}"><img style="position:absolute;top:550px;left:100px;height:300px;width:300px;" src="{{node.left_img.strip('')}}"></a>
	</p>
	<p>
	or
	</p>

	<p>
	<p>{{ node.right_attribute }}</p>
	<a href="?node_id={{node.right_index}}"><img style="position:absolute;top:550px;right:100px;height:300px;width:300px;" src="{{node.right_img.strip('')}}"></a>
	</p>
{% endif %}
</body>
</html>
